@import "mainStyles";
@import "header";

.dropdown-menu-button {
  @extend .header-genre-button;
}

.dropdown-menu-items {
  display: block;
  position: absolute;
  background-color: #292f48;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6);
  z-index: 1;
  padding: 10px;
}

.header-item-button-dropdown {
  @extend .header-genre-button;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .dropdown-menu-genres {
    left: 10px;
  }
}