@import "mainStyles";

.event-card {
  margin: 8px;
  flex: 1 1 300px;
  border: 1px solid $header-color;
  border-radius: 5px;
  background: $header-background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  width: 330px;
  height: 220px;

  &:hover {
    transform: translateY(-5px);
  }
}

.event-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;

  .image-container {
    position: relative;
    //display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info-card-title {
    position: absolute;
    max-width: 80%;
    top: 10px; /* Adjust this value to change the distance from the top */
    left: 10px; /* Adjust this value to change the distance from the left */
    color: #fff; /* Text color */
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background to make the text more visible */
    padding: 5px 10px;
    border-radius: 3px; /* Add rounded corners to the text background */
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //img {
  //  width: 100%;
  //  height: 100%;
  //  object-fit: cover;
  //}

  &.open:after {
    position: absolute;
    content: '';
    height: 35px;
    transform: translate(-197px, 186px);
    border-style: solid;
    border-width: 0 35px 50px 35px;
    border-color: transparent transparent $header-background transparent;
  }
}

.event-card-image-no-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $header-background;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $header-color;
  font-family: $app-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.event-info-bg {
  height: $event-info-card-height;
  width: 100%;
}
