@import 'mainStyles';
@import 'header';

.hamburger-menu {
  display: block;
  margin: 10px;
}

.hamburger-menu-line {
  width: 30px;
  height: 3px;
  background-color: $header-color;
  margin: 5px 0;
  transition: 0.4s;
}

.hamburger-menu-dropdown {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: $header-background;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}

.hamburger-menu-close {
  position: absolute;
  top: 0;
  left: 60%;
  font-size: 36px;
  margin-left: 50px;
  color: $header-color;
}