@import 'mainStyles';

.search-input-wrapper {
  width: 336px;
}

.search-input {
  width: 80%;
  height: 40px;
  border: none;
  background: url('../assets/searchIcon.png') no-repeat scroll 16px 12px white;
  background-size: 16px;
  padding-left: 40px;
  color: black;
  font-family: $app-font;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

@media (max-width: 550px) {
  .search-input-wrapper {
    margin-top: 5px;
    width: 100%;
  }
  .search-input {
    height: 30px;
    background: url('../assets/searchIcon.png') no-repeat scroll 16px 7px white;
    background-size: 16px;
  }
}
